@import '@fontsource-variable/lexend';

.background {
  background-color: #blue;
  width: 100vw;
}

.navbarwidth {
  width: 1300px;
}

.sectionContainer {
  color: white;
  font-family: 'lexend', sans-serif;
  width: 1000px;
  margin: 0 auto 50px; /* Adjust margin for top and bottom */
  padding: 50px;
  text-align: left;
}

.contentBoxGrid {
  display: grid;
  grid-template-columns: auto 450px; /* Two columns: auto and fixed width for the image */
  gap: 1em;
  align-content: left;
  margin: 60px auto;
}

.description {
  font-family: 'lexend', sans-serif;
  font-size: 1.2rem;
  padding: 20px;
  line-height: 130%;
}

.h1 {
  font-size: 4rem;
  font-family: 'lexend', sans-serif;
  margin: 0 auto 20px; /* Adjust margin for bottom */
}

.textHighlight {
  font-size: 2rem;
  padding: 20px;
  line-height: 130%;
  color: white;
  font-family: 'lexend', sans-serif;
  border: 2px solid white; /* Add border */
  border-radius: 5px; /* Add border radius */
  margin-bottom: 20px; /* Adjust margin for bottom */
}

.bookTicketWrapper {
  font-family: 'lexend', sans-serif;
  margin: 20px auto; /* Adjust margin */
  border-radius: 5%;
}

.button {
  font-family: 'lexend', sans-serif;
  font-size: 15px;
  margin: 10px;
}

.quantity {
  font-family: 'lexend', sans-serif;
  margin-right: 20px;
  padding: 10px 15px;
  border: 2px solid var(--color-button);
  color: white;

  &:hover {
    background-color: white;
    cursor: pointer;
    color: var(--color-button);
  }
}

.imageWrapper {
  display: flex;
  justify-content: flex-end; /* Align image to the right */
}
