@import '@fontsource/lexend';

.background {
  background-color: blue;
  width: 100vw;
}

.navbarwidth {
  width: 1300px;
}

.sectionContainer {
  color: white;
  font-family: 'Lexend', sans-serif;
  width: 1000px;
  margin: 0 auto 50px;
  padding: 50px;
  text-align: left;
}

.contentBoxGrid {
  display: grid;
  grid-template-columns: auto 450px;
  gap: 1em;
  align-content: left;
  margin: 60px auto;
}

.description {
  font-family: 'Lexend', sans-serif;
  font-size: 1.2rem;
  padding: 20px;
  line-height: 130%;
}

.h1 {
  font-size: 4rem;
  font-family: 'Lexend', sans-serif;
  margin: 0 auto 20px;
}

.textHighlight {
  font-size: 2rem;
  padding: 20px;
  line-height: 130%;
  color: white;
  font-family: 'Lexend', sans-serif;
  border: 2px solid white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.imageWrapper {
  display: flex;
  justify-content: flex-end;
}

.bookTicketWrapper {
  font-family: var(--font-mono);
  margin: 20px;
  border-radius: 5%;
}

.button {
  background-color: white;
  color: black;
  padding: 10px 45px;
  border: 10px;
  font-family: var(--font-mono);

  &:hover {
    background-color: blue;
    border: 2px solid white;
    cursor: pointer;
    color: white;
  }
}

.quantity {
  font-family: var(--font-mono);
  margin-right: 20px;
  padding: 10px 15px;
  border: 2px solid var(--color-button);
  color: black;

  &:hover {
    background-color: white;
    cursor: pointer;
    color: var(--color-button);
  }
}

.footer {
  width: 100vw;
  height: 4rem;
  position: sticky;
  background-color: transparent;
  font-family: 'Lexend', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-top: 70px;
  margin: 0 auto;
}
