/* ExperiencesFilter.module.scss */

@import '@fontsource-variable/lexend';

.filterContainer {
  font-family: 'Lexend'; /* Apply the 'quicksand' font */
  display: flex;
  align-items: center;
  margin: 40px 110px; /* Add margin on the sides and top */
}

.form {
  font-family: 'Lexend'; /* Apply the 'quicksand' font */
  margin-right: 20px; /* Add space between form and button */
}

.checkField {
  margin-right: 10px; /* Add space between checkboxes */
  margin-bottom: 5px; /* Reduce space below each checkbox */
  font-family: 'Lexend'; /* Apply the 'quicksand' font */
}

.button {
  font-family: 'Lexend'; /* Apply the 'quicksand' font */
  padding: 4px 25px; /* Adjust padding */
  background-color: transparent;
  color: black;
  border: 2px solid black;
  font-size: 16px;
  margin: 0; /* Remove margin */
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s;

  /* Make border slimmer on top and bottom */
  border-top-width: 1px;
  border-bottom-width: 1px;

  &:hover {
    background-color: black;
    border-color: lavender;
    color: lavender;
    cursor: pointer;
  }
}
