@import '@fontsource/quicksand';

.headline {
  font-family: var(--font-mono);
  font-size: large;
  text-align: center;
  margin-bottom: 20px;
}

.expContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three items in a row */
  gap: 20px; /* Gap between items */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: white;
  font-family: var(--font-mono);
}

.form {
  text-align: center;
  margin-bottom: 20px;
}

.button {
  padding: 10px 45px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 3px solid black;
  font-family: var(--font-mono);
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;

  .button:hover {
    background-color: black;
    border: 3px solid #add8e6;
    cursor: pointer;
    color: #add8e6;
  }
}

.text {
  text-align: center;
}

.expImage {
  position: relative;
  overflow: hidden;
}

.expImage img {
  transition: filter 0.3s ease-in-out; /* Smooth transition for the filter effect */

  .expImage:hover img {
    filter: grayscale(100%); /* Black and white effect on hover */
  }
}
